.App {
  text-align: center;
}

.Darkmode {
  background-color: rgb(40, 40, 40);
  color: white;
}

.card {
  margin: 20px;
  max-width: 300px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}
